# Env
env.prod

# Outputs
user/bin
packaged-*.yaml
cloudformation-meta-dev.json

# Dependencies
vendor

# Misc
.DS_STORE
.idea/
/hello-world/go.mod
/hello-world/go.mod/*
*.sum
/.aws-sam/
/samconfig.toml
